<ngx-spinner bdOpacity = 0.9 bdColor = "#333" size = "medium"
    color = "#fff" type = "ball-8bits" [fullScreen] = "true" >
    <p style="color: white" > Carregando... </p>
</ngx-spinner>
<section id="Acesso" class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <h1 class="titulo font-odeosa">
                    odeosa
                </h1>
                <mdb-card>
                    <mdb-card-header>
                        <mdb-card-title>
                            <h5 class="text-center mb-0 font-weight-bold text-uppercase text-muted">Acesso</h5>
                        </mdb-card-title>
                    </mdb-card-header>
                    <mdb-card-body>
                        <mdb-card-text> 
                            <div class="md-form">
                                <input mdbInput type="email" id="email" class="form-control" [(ngModel)]="acesso.email">
                                <label for="email">E-mail</label>
                            </div>
                            <div class="md-form">
                                <input mdbInput type="password" id="senha" class="form-control" [(ngModel)]="acesso.senha">
                                <label for="senha">Senha Financeria</label>
                            </div>
                            <p class="text-danger">{{ msg }}</p>
                        </mdb-card-text>
                    </mdb-card-body>
                    <mdb-card-footer>
                        <div class="text-center">
                            <button type="button" mdbBtn color="primary" mdbWavesEffect (click)="acessar()"
                                [disabled]="!acesso.email || !acesso.senha">
                                Acessar!
                            </button>
                        </div>
                    </mdb-card-footer>
                </mdb-card>
            </div>
        </div>
    </div>
</section>
